/* add background color */
body {
    background-color: #E9FDFF;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center body */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center body */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center body */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center body */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center body */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
}


/* center h1 */
h1 {
    text-align: center;
    /* change font */
    font-family: 'Oswald', serif;
}
/* make a box around h1 */
h1 {
    margin: 20px;
        border: 10px solid#00565E;
    /* round edges */
    border-radius: 15px;
    /* shorten length */
    width: 75%;
    /* center h1 */
    margin: auto;
    /* add padding */
    padding: 10px;

}

/* add signuup/login form with button */
 form {
    /* center form text align */
    text-align: center;
    /* make input field larger */
    width: 75%;
    margin: auto;
    /* add padding */
    padding: 50px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center form */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center form */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center form */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 20px;
    /* center form */
    margin: auto;
    /* add padding */
    padding: 20px;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 20px;
    /* change font color */
    color: #684531;
    /* label for "input field"   */
    label {
        /* change font */
        font-family: 'Oswald', sans-serif;
        /* change font size */
        font-size: 30px;
        /* change font color */
        color: #684531;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 50px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center label */
        margin: auto;
        /* add padding */
        padding: 10px;
    

     
    }
    /* make "text" bigger */
    input[type=text] {
        /* change background color */
        background-color: #FFF7D6;
        /* change font */
        font-family: 'Oswald', sans-serif;
        /* change font size */
        font-size: 20px;
        /* change font color */
        color: #684531;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 30px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center input field */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* text-input field bigger */
        width: 25%;
    }

 }
 
 /* button color and button size to fit device*/
    button {
                   
        /* change button color */
        background-color: #684531;
        /* change font */
        font-family: 'Oswald', serif;
        /* change font size */
        font-size: 20px;
        /* change font color */
        color: #FFF7D6;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* round edges */
        border-radius: 15px;
        /* shorten length */
        width: 100px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
        /* center button */
        margin: auto;
        /* add padding */
        padding: 10px;
    }
    /* change button color when mouse hovers over button */
    button:hover {
        /* change button color */
        background-color: #00565E;
        /* change text color */
        color: #00A9C4;
    }
/* add space between h1 and form */
h1 {
    margin-bottom: 30px;
}

  /* add space between form and p */
    form {
        margin-bottom: 30px;    
    }
    


/* center p */
/* underline text */
p {
    text-decoration: underline;
    /* center p */
    text-align: center;
    /* change font */
    font-family: 'Oswald', serif;
    /* change font size */
    font-size: 30px;
    /* change font color */
    color: #684531;
    /* add padding */
    padding: 10px;
    /* center p */
    margin: 75%;

/* p { */
    /* text-align: center; */
    border: 10px solid #00565E; 
    /* round edges */
    border-radius: 15px;
    /* shorten length of border */
    width: 50%;
    
    /* center p */
    margin: auto;
    /* add padding */
    padding: 5px;
}

